@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<body class="about">

    <hr />
    
<p>Our mission: to help people earn money while mutually helping people list small jobs, or chores that they don't have time to do.
    <br />
   If you want to earn some cash fast, we can help! If you want to have more free time to spend doing things other than chores, we 
    <br />can help with that too!</p>
    </body>
