@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    One Microsoft Way<br />
    Redmond, IN 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    765-123-1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ModestJobSupport@mail.com">ModestJobSupport@mail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ModestJobMarketing@mail.com">ModestJobMarketing@mail.com</a>
</address>