@{
    ViewBag.Title = "Home Page";
}
<body class="mainBackground">
    <div class="jumbotron">
        <div class="mainText">
        <h1>Let us help you!</h1>
        <p class="lead"> Is your full time job just not paying enough? Need to earn money fast? Click on the learn more tab to findout how we can help. </p>
        </div>
        <a class="button1" href="http://localhost:51686/Home/About" style="vertical-align:middle"><span>Learn more</span></a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="mainText">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            </div>
            <a class="button1" href="http://localhost:51686/Account/Register" style="vertical-align:middle"><span>Sign up</span></a>

        </div>
        <div class="col-md-4">
            <div class="mainText">
            <h2>List your jobs today!</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </div>
            <a class="button1" href="http://localhost:51686/SmallJob/Create" style="vertical-align:middle"><span>Click here</span></a>

        </div>
        <div class="col-md-4">
            <div class="mainText">
            <h2>Our mission</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            </div>
            <a class="button1" href="http://localhost:51686/Home/About" style="vertical-align:middle"><span>Click here</span></a>

        </div>
    </div>
</body>