@{
    ViewBag.Title = "Home Page";
}
<body class="mainBackground" id="font">
    <div class="jumbotron">
        <div class="mainText">
        <h1>Let us help you!</h1>
        <p class="lead"> Is your full time job just not paying enough? Need to earn money fast? Click on the learn more tab to findout how we can help. </p>
        </div>
        <a class="button1" href="@Url.Action("About", "Home")" style="vertical-align:middle"><span>Learn more</span></a>
    </div>

    <div class="row">
        <div class="col-md-4" id="leftColumn">
            <div class="mainText">
            <h2>Getting started</h2>
            <p>
                Sign up today and find out how we can help you earn more cash!
            </p>
            </div>
            <a class="button1" href="@Url.Action("Register", "Account")" style="vertical-align:middle"><span>Sign up</span></a>

        </div>
        <div class="col-md-4" id="middleColumn">
            <div class="mainText">
            <h2>List your jobs today!</h2>
            <p>Have chores that need done? Consider posting your small job and start having more free time today!</p>
            </div>
            <a class="button1" href="@Url.Action("Register", "Account")" Jobs style="vertical-align:middle"><span>Click here</span></a>

        </div>
        <div class="col-md-4" id="rightColumn">
            <div class="mainText">
            <h2>Our mission</h2>
            <p> Our goal is to mutually assist people who want to earn money, and people who have small jobs that need done. Theres no job too small!</p>
            </div>
            <a class="button1" href="@Url.Action("About", "Home")" style="vertical-align:middle"><span>Click here</span></a>

        </div>
    </div>
</body>